<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cat201">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cat201">
        <activity android:name=".swipe_drink_dessert"></activity>
        <activity android:name=".food_menu" />
        <activity android:name=".drinks_available" />
        <activity
            android:name=".addfoodActivity"
            android:label="@string/title_activity_addfood"
            android:theme="@style/Theme.Cat201.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>